* {
    scroll-behavior: smooth;
}
body>header>article>section>section {
    width: 44vw;
    height: 233px;
    border: 2px solid black;
    margin-top: -407px;
    margin-left: -101px;
    border-radius: 25px;
}
body>header>h2 {
    position: absolute;
    top: 40px;
    left: 45%;
    font-size: 60px;
    font-family: Algerian;
    color: cornflowerblue;
}
body>header>h1 {
    position: absolute;
    top: 150px;
    left: 65%;
    font-size: 30px;
    font-family: Algerian;
}
body > header > article > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40%;

}
body>header>article>section>pre{
    position: absolute;
    top: 250px;
    left: 45%;
    font-size: 175%;
    color: white;
}
body > header > article > section > img {
    display: inline-block;
    max-width: 100%;
    margin-top: -150px;
    transition: transform 0.3s ease;
}
body > header > article > section > img:hover{
    transform: scale(1.2);
}

body>main>section:first-child>section{
    width: 900px;
    height: 100px;
    border-radius: 25px;
    margin-left: 17%;
    margin-top: 50px;
    border: 2px solid black;
    background-color: gray;
}
body>main>section:first-child>nav>menu{
    font-size: 20px;
    margin-top: -90px;
    margin-left: 17%;
}
body>main>section:first-child>nav>menu>pre>a{
    color: white;
}
body>main>section:nth-child(2){
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
}
body>main>section:nth-child(2)>hr{
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    margin-top: 65px;
}
body>main>section:nth-child(2)>figure{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.left-image {
    max-width: 100%;
    height: auto;
    display: block;
    /*margin: 0 auto;*/
    margin-left: 500px;
}
.left-pre, .right-pre {
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
}
.left-pre{
    margin-left: -615px;
    height: 0;
    width: 0;
    margin-top: -200px;
}
.right-pre{
    margin-left: 750px;
    height: 0;
    width: 0;
    margin-top: -200px;
}
.left-pre pre, .right-pre pre {
    margin: 0;
    padding-bottom: 100px;
}
body>main>section:nth-child(2)>pre{
    text-align: left;
    margin-left: 180px;
}
section:nth-child(2)>hr:first-child {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
}

body>main>section:nth-child(2)>div>dfn{
    font-size: 35px;
    position: absolute;
    top: 110%;
    right: 8%;
    color: black;

}


body>main>section:nth-child(3)>aside>div{
    position: absolute;
}
body>main>section:nth-child(3)>aside{
    margin-top: 300px;
}
body>main>section:nth-child(3)>aside>div:first-child{
    left: 15%;
    margin-top: -225px;
}
body>main>section:nth-child(3)>aside>div:nth-child(2){
    left: 60%;
    margin-top: -225px;
}
body>main>section:nth-child(3)>aside>div>p{
    font-size: 27px;
    margin-left: 250px;
    margin-top: -150px;
}
body>main>section:nth-child(3)>dfn>h1{
    letter-spacing: 50px;
    font-size: 35px;
    margin-left: 30%;
    color: black;
}



section>div>img{
    margin-left: 35%;
}
section:nth-child(3)>p{
    font-size: 25px;
    margin-left: 10%;
}
section:nth-child(3)>hr {
    border: none;
    height: 2px;
    background-color: #000;
    /*margin: 10px 0;*/
    width: 50%;
    margin-left: 250px;
}
body>main>section:nth-child(3)>aside>div>div{
    width: 100px;
    height: 20px;
    border-radius:25px;
    border: 1px solid black;
    margin-left: 331px;
    margin-top: 16px;
}
body>main>section:nth-child(3)>aside>div>div>h2{
    font-size: 20px;
    margin-top: -2px;
    margin-left: 22px;
}

body>main>section:nth-child(4){
    position: relative;
    margin-top: 25%;
}
body>main>section:nth-child(4)>picture{
    position: absolute;
    transition: transform 0.3s ease;
}
body>main>section:nth-child(4)>picture:hover{
    transform: scale(1.2);
}
#a{
    left: 45%;
}
#b{
    left: 30%;
    margin-top: 150px;
}
#c{
    left: 25%;
    margin-top: 300px;
}
#d{
    left: 45%;
    margin-top: 600px;
}
#e{
    left: 60%;
    margin-top: 150px;
}
#f{
    left: 65%;
    margin-top: 300px;
}
#g{
    left: 30%;
    margin-top: 475px;
}
#h{
    left: 60%;
    margin-top: 475px;
}
body>main>section:nth-child(4)>dfn>h1{
    position: absolute;
    margin: auto;
    left: 050%;
    margin-top: 15%;
}

#first{
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
}
#second{
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    margin-top: 750px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.flex-item {
    flex: 1;
    background-color: gray;
    border-radius: 25px;
    padding: 20px;
    font-size: 25px;
}


body>main>section:nth-child(5)>hr{
    border: none;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    margin-top: 65px;
}
body>main>section:nth-child(5)>dfn>h1{
    letter-spacing: 50px;
    margin-left: 500px;
    margin-bottom: 80px;
}
body>main>section:nth-child(5)>div>div{
    border: 2px solid black;
    color: white;
    transition: transform 0.3s ease;
}
body>main>section:nth-child(5)>div>div:hover{
    transform: scale(1.1);
}
.flex-item>pre>h1{
    margin-top: -40px;
}

body>main>section:nth-child(6)>div{
    display: flex;
   letter-spacing: 10px;
}
.picture{
    margin-top: 200px;
}

body>main>section:nth-child(6)>div>picture>img {
    margin-left: 20px;
    margin-top: 84px;
    transition: transform 0.3s ease;
}

body>main>section:nth-child(6)>div>picture>img:hover {
    transform: scale(1.2);
}

body>footer {
    background-color: gray;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

body>footer>nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

body>footer>div>img {
    width: 200px;
    height: 200px;
}

body>footer>address {
    margin-left: 20px;
    margin-top: 85px;
}
/*body>footer>dfn {*/
/*    text-align: center;*/
/*    margin-top: 28px;*/
/*}*/
body>footer>address>h3{
    position: relative;
    margin-left: 90px;
    margin-top: -29px;
    margin-bottom: 45px;
}
body>footer>address>picture>img{
    width: 20px;
    height: 20px;
}
body>footer>nav>div>img {
    width: 40px;
    height: 40px;
}
body>footer>dfn>h2{
    position: relative;
    margin-top: -146px;
}

body>header>img{
    position: relative;
    left: 30px;
    right: 30px;
    box-shadow: 1px 2px 9px 1px #6b5a5a;
}
body>header>h2 {
    position: absolute;
    top: 40px;
    left: 45%;
    font-size: 60px;
    font-family: "sans-serif";
    color: black;
    box-shadow: 1px 2px 9px 1px #6b5a5a;
    border-radius: 25px;
    border-color: cornflowerblue;
}
body>header>h1 {
    position: absolute;
    top: 150px;
    left: 75%;
    font-size: 30px;
    font-family: "sans-serif";
    color: black;
    box-shadow: 1px 2px 9px 1px #6b5a5a;
    border-radius: 25px;
}
body > header > article > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40%;

}
body>header>article>section>section>pre{
    position: absolute;
    top: 250px;
    left: 45%;
    font-size: 175%;
}
body > header > article > section >section>a> img {
    display: inline-block;
    /*max-width: 100%;*/
    margin-top: 250px;
    margin-right: 100px;
}

body>header>article>section>section{
    width: 44vw;
    height: 233px;
    background-color: gray;
    margin-top: -407px;
    margin-left: -101px;
    border-radius: 25px;
}
body>main>section:nth-child(6)>div>p{
    font-size: 25px;
}
body>footer{
    margin-top: 100px;
}


